.accord-container {
    display:flex;
    flex-direction:column;
    width: 300px;
    text-align:center;
    color:red;
    font-size:16px;
    background: grey;
    border:1px solid black;
}

.accordion-title{
    border-bottom:1px solid black;
    padding:10px;
}
.accordion-content {
    display:none;
    color:turquoise;
    font-size:14px;
    border-bottom:1px solid black;
    background: #ffffff;
    padding:5px;
}

.accordion-title.active + .accordion-content {
    display: block;
}

