body {
    width:100%;
    height:100%; 
}

.container {
    display:block;
    z-index:-1;
    width:100%;
    height:100%;
}

.modal-open {
    display:block;
    position: absolute;
    margin: 0 auto;
    top: 50px;
    left: 500px;
    height: 50px;
    width:100px;
    background: aquamarine;
    border: 1px solid black;
    border-radius:10px;
}

.modal-open:focus{
    outline:none;
}
.modal-open:hover {
    background: blue;
}

.modal-window {
    display: none;
    height: 300px;
    width: 300px;
    margin:0 auto;
    background: yellow;
    position: relative;
    border-radius: 10px;
}

.modal-window:hover{
    background: red;
}
.close-window {
    display: none;
    position: absolute;
    font-size:20px;
    text-align:center;
    right:0;
    top:0;
    height: 30px;
    width: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.transition {
    transition: 2s;
}

.accord-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:700px;
    background: blue;
}

.menu-list {
    width: 200px;
    border: 1px solid bisque;
    background: bisque;
    text-align: center;
    position:relative;
}

.menu-list ul {
    display:none;
    list-style: none;
    text-align:left;
    margin:0;
    position:absolute;
    top: 20px;
    left:40px;
    border:1px solid black;
    padding-inline-start:0;
}
.menu-list ul li{
    border-bottom:1px solid black;
}

.menu-list:hover {
    background: red;
    cursor: pointer;
}

